.archives {
	padding: 0px;
	h2 {
		@media screen and (max-width: 600px){
			font-size: 18px;
		}
	}
	&:not(:last-child):after {
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		margin: 25px 0 10px 0;
		background: #444;
	}
	.archive_year {
		margin-top: 1em;
		font-family: $post-title-font-family;
		font-size: 1.7rem;
		line-height: 1.333em;
		text-align:center;
		float:left;
		@media screen and (min-width: 480px) {
			width:20%;
		}
	}
	article {
		display: inline-block;
		@media screen and (min-width: 480px) {
			width:80%;
		}
	}
	.post-title {
		//text-align: left;
		margin-top: 1em;
		margin-bottom: 0px;
		a {
			border-bottom: none;
			&:hover{
				color: $color-link-hovered;
			}
		}
	}
	.a-meta {
		color: $color-gray02;
		font-family: $meta-font-family;
		text-transform: uppercase;
		text-align: left;
		font-size : 0.5777em;
		line-height : 1.3333;
		letter-spacing: 0px;
		//margin-bottom: 1.6em;
		@media only screen and (min-width:768px) {
			font-size : 0.6667em;
			line-height : 1.5385;
			letter-spacing: 0.1em;
		} 
		a{
			color: $color-gray02;
			border-bottom: none;
			&:hover{
				color: $color-link-hovered;
				border-bottom:2px solid $color-link-hovered;
			}
		}
	}
	.m-split{
		@extend .a-meta;
		&:before{
			content: "|";
			padding-left: 0.3125rem;
			padding-right: 0.3125rem;
		}
		.tag-dns{ color: blue; }
		.tag-powerdns{ color: purple; }
		.tag-nginx{ color: green; }
		.tag-network{ color: red; }
		.tag-ipsec{ color: brown; }
		.tag-tutorial{ color: #413; }
	}
	.a-meta-c{
		@extend .a-meta;
		text-align: center;
	}
}

.post-content-with-image {
	@extend .post-content;
	@media only screen and (min-width:768px) {
		width: 66.667%;
		display: inline-block;
	}
}
