            <section class="wrapper-content">
				<section class="post-index" itemscope itemtype="http://schema.org/BlogPosting">
					<article class="post-content">
						<div class="post-header">
							{{ if (ne $.Page.Params.params.hideTitle true) }}
								{{- if .Title }}
							<h2 class="post-title" itemprop="name">{{ .Title | safeHTML }}</h2>
								{{- end -}}
							{{- end -}}
							{{ if (ne $.Page.Params.params.hideMeta true) }}
							{{ partial "post-meta.html" . }}
							{{- end -}}
						</div>
						{{- if $.Page.Params.params.headerimage }}
						<figure class="landing-image">
							<img src="{{.Params.headerimage}}" alt="{{ .Title }}"/>
						</figure>
						{{- end }}
						<div class="entry-content full-article" itemprop="articleBody">
							{{ .Content -}}
						</div>
					</article>
				</section>
				{{- if (ne $.Page.Params.params.hideComments true) }}
				<hr />
				<section id="comments">
					<h2 class="title">{{ i18n "commentSectionTitle" . }}</h2>
					<button id="button_enable_comments" class="comments-toggle" onClick="enable_comments();">Click to show comments</button>
					<div id="disqus_thread" aria-live="polite">{{ i18n "disqusNoscriptText" | safeHTML }}</div>
				</section>
				{{- end }}
				{{ if (ne $.Page.Params.params.hideNav true) }}
				<hr />
				{{ partial "nav.html" . }}
				{{- end }}
			</section>
		</section>
		{{ if (ne $.Page.Params.params.hideTOC true) }}
		<div class="article-toc" {{ if .Site.Params.SmartToc }}style="display:none;"{{ end }}>
			<h3>Contents</h3>
			{% .TableOfContents %}
			{{ $headers := findRE "<h[1-4].*?>(.|\n])+?</h[1-4]>" .Content }}
			<!-- at least one header to link to -->
			{{ $has_headers := ge (len $headers) 1 }}
			<!-- a post can explicitly disable Table of Contents with toc: false -->
			{{ $show_toc := (ne $.Params.hideToc true) }}
			{{ if and $has_headers $show_toc }}
			<nav id="toc" data-toggle="toc">
			  <!-- TOC header -->
			  <h4 class="text-muted">Table of Contents</h4>
			  <ul class="nav">
				{{ range $i, $header := $headers }}
			  {{ $headerLevel := index (findRE "[1-3]" . 1) 0 }}
			  {{ $headerLevel := len (seq $headerLevel) }}

			  {{ $anchorID := ($header | plainify | htmlEscape | urlize) }}

			  {{ if ne $i 0 }}
				{{ $prevHeaderLevel := index (findRE "[1-3]" (index $headers (sub $i 1)) 1) 0 }}
				{{ $prevHeaderLevel := len (seq $prevHeaderLevel) }}

				  {{ if gt $headerLevel $prevHeaderLevel }}
					{{ range seq (sub $headerLevel $prevHeaderLevel) }}
					  <ul class="nav">
					{{end}}
				  {{end}}

				  {{ if lt $headerLevel $prevHeaderLevel }}
					{{ range seq (sub $prevHeaderLevel $headerLevel) }}
					  </li></ul></li>
					{{end}}
				  {{end}}

				  {{ if eq $headerLevel $prevHeaderLevel }}
					</li>
				  {{end}}

				  <li>
					<a href="#{{ $anchorID }}">{{ $header | plainify | htmlEscape }}</a>

				  {{ if eq $i (sub (len $headers) 1) }}
					{{ range seq (sub $prevHeaderLevel $headerLevel) }}
					  </li></ul></li>
					{{end}}
				  {{end}}
			  {{else}}
			  <li>
				<a href="#{{ $anchorID }}">{{ $header | plainify | htmlEscape }}</a>
			  {{end}}
			{{end}}

			{{ $firstHeaderLevel := len (seq (index (findRE "[1-3]" (index $headers 0) 1) 0)) }}
			{{ $lastHeaderLevel := len (seq (index (findRE "[1-3]" (index $headers (sub (len $headers) 1)) 1) 0)) }}
			{{ range seq (sub $lastHeaderLevel $firstHeaderLevel) }}
			  </li></ul></li>
			{{end}}

			  </ul>
			</nav>
		{{end}}
		</div>
		{{ end }}

