		{{- if (ne $.Page.Params.params.hideFooterNote true) }}
		<footer id="footer" class="inner">
			{{ i18n "footerLicenseText" . | safeHTML }}
		</footer>
		{{- end }}
		{{- if eq $.Page.Params.params.importHighlight true }}
		<!--<link rel="stylesheet" href="/css/h.css" />-->
		<script src="js/highlight.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		{{- end }}
		{{- if eq $.Page.Params.params.importAsciinema true }}
		<script src="js/asciinema-player.js"></script>
		{{- end }}
		{{- if .Site.Params.Katex }}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js" integrity="sha256-ExtbCSBuYA7kq1Pz362ibde9nnsHYPt6JxuxYeZbU+c=" crossorigin="anonymous"></script>
		<script>renderMathInElement(document.body);</script>
		{{- end }}
		<!-- once it was disqus script
		{{- if and .IsPage (ne $.Page.Params.params.hideComments true) }}
		<script>
		</script>
		{{- end }}
		-->
		<!-- when i was a child 
		<script>
			document.getElementById('main-nav-toggle').addEventListener('click', function () {
				var header = document.getElementById('header');
				if (header.classList.contains('mobile-on')) {
					header.classList.remove('mobile-on');
				} else {
					header.classList.add('mobile-on');
				}
			});
		</script>
		-->
