					<article class="post-content">
						{{ if not (eq .Params.hideTitle true) }}
							{{- if .Title }}
						<h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h2>
							{{- end -}}
						{{- end -}}
						{{ partial "post-meta.html" . }}
						<div class="post-content">
							<div class="entry-content">
							{{- if .Params.params.indexImage }}
							<a class="index-image" href="{{ .RelPermalink }}">
								<img src="p/{{ lower .Params.params.postcode }}/{{.Params.params.indexImage}}" class="alignright" {{ if .Params.params.indexImagePercent }}style="width: {{ .Params.params.indexImagePercent}}%" {{ end }}alt="{{ .Title }}"/>
							</a>
						{{- end }}
								{{ .Summary -}}
								{{- if .Truncated }}
								<a href="{{ .RelPermalink }}" class="more-link">{{ i18n "readMoreText" }} &rarr;</a>
								{{- end }}
							</div>
							<div style="clear: both"></div>
						</div>
					</article>
