{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="pagination" aria-label="Pagination Navigation">
    {{ if $pag.HasPrev }}
    <a href="{{ $pag.Prev.URL }}" rel="prev" class="prev">&laquo; Prev</a>
    {{ end }}
    {{ if $pag.HasNext }}
    <a href="{{ $pag.Next.URL }}" rel="next" class="next">Next &raquo;</a>
    {{ end }}
	<ul class="page-numbers">
    {{ range $pag.Pagers }}
		<li>
		{{ if eq . $pag }}
		<span class="page-numbers current" aria-current="true" aria-label="Current Page, Page {{ $pag.PageNumber}}">{{ $pag.PageNumber }}</span>
		{{ else }}
		<a class="page-numbers" aria-label="Go to Page {{ $pag.PageNumber}}" href="{{ .URL }}">{{ .PageNumber }}</a>
		{{ end }}
		</li>
    {{ end }}
	</ul>
</nav>
{{ end }}
