							{{ if not (eq .Params.hideMeta true) }}
							{{- $Site := .Site -}}
							{{- if .Params.categories }}
							{{- $categoriesLen := len .Params.categories }}
							<span class="a-meta">
								{{- range $i, $e := .Params.categories -}}
								{{- if gt $i 0 }}
								<span>, </span>
								{{- end }}
								<a class="category-{{ $e | urlize }}" href="{{ "/categories" | relLangURL }}/{{ $e | urlize }}/">{{ $e }}</a>
								{{- end }}
							</span>
							{{- end -}}
							{{- if .Params.tags }}
							{{- $tagsLen := len .Params.tags }}
							<span class="m-split">
							{{- range $i, $e := .Params.tags }}
								<a class="tag-{{ $e | urlize }}" href="{{ "/tags" | relLangURL }}/{{ $e | urlize }}/">#{{ $e }}</a>{{ if lt $i (sub $tagsLen 1 ) }}, {{ end }}
							{{- end }}
							</span>
							{{- end }}
							{{- if .IsTranslated }}
							<span class="m-split">
								{{ i18n "readInLanguage" }}{{ range .Translations }} <a href="{{ .Permalink }}">{{ .Lang }}</a>
								{{- end }}
							</span>
							{{- end }}
							{{ if not (eq .Params.hideDate true) -}}
							{{- if ne .Date .Lastmod }}
							<time class="m-split" datetime='{{ .Lastmod.Format "2006-01-02T15:04:05+00:00" }}' data-updated="true">Updated: {{- partial "format-date" . -}}</time>
							{{- else }}
							<time class="m-split" datetime='{{ .Lastmod.Format "2006-01-02T15:04:05+00:00" }}'>{{- partial "format-date" . -}}</time>
							{{- end -}}
							{{- end -}}
							{{- end -}}
							{{/* well }}
							{{ if not (eq .Params.hideComments true) }}
								{{- if .Site.Params.disqusShortname }}
							<span class="m-split">
								<a href="{{ .RelPermalink }}#disqus_thread" data-disqus-identifier="{{ or .Params.disqusId .Permalink }}">{{ i18n "commentsLinkText" }}</a>
							</span>
								{{- end }}
							{{- end }}
							{{ */}}
