<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
	<div>
		{{ with .Get "link"}}<a href="{{.}}">{{ end }}
		<img src="/p/{{ lower $.Page.Params.params.postcode }}/{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
		{{ if .Get "link" }}</a>{{ end }}
		{{ if or (.Get "caption") (.Get "attr") }}
		<figcaption>
			{{ if (.Get "caption") }}
			<span itemprop="caption" class="article-body-image-caption">{{ .Get "caption" }}</span>
			{{ end }}
			{{ if (.Get "attr") }}
			<span itemprop="copyrightHolder" class="article-body-image-copyright">
			{{ with .Get "attrlink"}}<a href="{{.}}">{{ end }}<span class="article-body-image-copyright-label">Credit: </span>{{ .Get "attr" }}{{ if .Get "attrlink"}}</a>{{ end }}
			</span>
			{{ end }}
		</figcaption>
		{{ end }}
	</div>
</figure>

